body {
  background-color: #111;
  color: #eee;
  font-family: Arial, 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar a {
  color: #eee;
  text-decoration: none;
  text-align: center;
}

a {
  color: rgb(252, 69, 255);
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  text-align: center;
}

.top-bar {
  background-color: #333;
  height: 50px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.sidebar {
  background-color: #333;
  padding: 10px;
  width: 200px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  padding: 5px;
}

.sidebar a:hover {
  background-color: #666;
}

.main {
  padding: 10px;
  width: calc(100% - 200px);
  height: 400px;
  overflow-y: scroll;
}

.proj {
  text-align: center;
}
